@import "../services/varaibles";

@media (max-width: 375px) {
    body {
        font-size: 16px;
        line-height: 24px;

        .blue-top {
            @include blur(249px, 252px, $blurBlue, 144px);
            top: -10%;
            left: -20%;
        }

        .violet {
            @include blur(313px, 312px, $blurViolet, 144px);
        }

        .blue-bottom {
            @include blur(249px, 252px, $blurBlue, 144px);
            bottom: 0;
            left: -20%;
        }
    }

    .popup-reg {
        max-width: 344px;
        margin: 80px auto;
        padding: 24px;

        .h1 {
            font: {
                size: 32px;
                weight: 900;
            }
            margin-bottom: 60px;
        }
        
        fieldset {
            legend,
            .format__label {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .popup-reg__close {
            top: 0px;
            left: calc(100% - 30px);
        }

        .popupThanks {
            padding: 19px 20px 32px 0px;

            .h1 {
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 35px;
            }
        }

        .masterClass {
            margin-bottom: 28px;
        }

        .time {
            margin-bottom: 40px;
        }

        .format {
            margin-bottom: 36px;
        }
    }

    .info {
        input,
        textarea {
            font-size: inherit;
            line-height: inherit;
        }
        
        .info__select,
        .info__name,
        .info__phone {
            margin-bottom: 55px;
        }

        .info__comment {
            margin-bottom: 28px;
        }

        .info__title_min {
            padding-bottom: 0 !important;
            font-size: 12px;
            line-height: 26px;
        }
    
        .info__input_max {
            height: 36px;
            line-height: 32px;
        }
    }

    .masterClass,
    .time {
        label {
            &::before {
                top: 0;
            }
        }
    }

    .masterClass {
        label{
            &::after {
                top: 48%;
            }
        }
    }

    .popup-reg__footer {
        flex-direction: column;
        align-items: flex-start;

        .popup-reg__submit {
            margin-bottom: 28px;
            padding: 14px 40px;
            padding-bottom: 18px;
            font-size: 16px;
            line-height: 22,4px;
        }

        .popup-reg__agree {
            margin-bottom: 34px;
            font-size: 12px;
            line-height: 16px; 
        }
    }
}