@font-face { 
    font-family: "Mabry Pro";
    src: local("Mabry Pro"), 
        url('/fonts/Mabry Pro.otf') format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: "Mabry Pro";
    src: local("Mabry Pro Bold"), 
        url('/fonts/Mabry Pro Bold.otf') format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face { 
    font-family: "Mabry Pro";
    src: local("Mabry Pro Bold Light"), 
        url('/fonts/Mabry Pro Light.otf') format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face { 
    font-family: "Mabry Pro";
    src: local("Mabry Pro Bold Medium"), 
        url('/fonts/Mabry Pro Medium.otf') format("woff2");
    font-weight: 700;
    font-style: normal;
}