.info {
    input,
    textarea {
        height: 15px;
        font-size: 24px;
        line-height: 10px;
        color: $colorText;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid transparentize($colorText, 0.7);
        outline: none;
        resize: none;

        &:focus {
            height: 46px;
            line-height: 32px;
        }

        &::-webkit-scrollbar {
            width: 3px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color:  $colorBG;
            border-radius: 8px;
        }
    }

    .info__select,
    .info__name,
    .info__phone,
    .info__comment {
        display: flex;
        flex-direction: column;
        margin-bottom: 73px;
    }

    .info__title_min {
        padding-bottom: 0 !important;
        font-size: 16px;
        line-height: 24px;
    }

    .info__input_max {
        height: 46px;
        line-height: 32px;
    }
    
    textarea.info__input_max {
        height: 88px;
        padding-bottom: 15px;
    }

    .info__phone {
        width: 256px;
    }

    .info__comment {
        margin-bottom: 40px;
        word-break: break-all;
    }
}